<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944239125596-d86a6gf5q3h4e649405g17hedo472v6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944239125596-d86a6gf5q3h4e649405g17hedo472v6m</string>
	<key>API_KEY</key>
	<string>AIzaSyAbjNOHbvgTqp0A4ewPrxE0p3lFQ7O33og</string>
	<key>GCM_SENDER_ID</key>
	<string>944239125596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chobi.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-5d55a</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-5d55a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944239125596:ios:4d7b9581bddfa976efb299</string>
</dict>
</plist>